<html>
<style>
body{
font-size: 13pt;
font-family: arial;
background-image: url('https://static.vecteezy.com/system/resources/previews/006/907/446/non_2x/old-cracked-concrete-grunge-concrete-cement-wall-with-crack-for-your-design-and-background-texture-stone-walkway-concrete-texture-free-photo.JPG');

}
</style>
<body>
<h2><a href=feed style = "text-decoration: none; font-size: 25pt; color: black;">SkateDB</a></h2>

<h2> Host an event: </h2><br>

{% with messages = get_flashed_messages()  %}
{% if messages %}
{% for message in messages %}
<div>
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}


<form action="event" method="post">
    
    <label for="name">Enter event name:</label>
    <input type="text" name="name" id="name"><br>

    <label for="desc">Enter event description:</label>
    <input type="text" name="desc" id="desc"><br>

    <label for="spot">Enter spot:</label>
    <input type="text" name="spot" id="spot"><br>
    
    <label for="date and time"> Enter date (mm/dd/yy):</label>
    <input type="datetime-local" name="date" id="date"><br>

    <input type="submit" name="submit" value="Submit">
    
</form>

<h1> Events!</h1>
    <div style="background-color: #aaa">
    {% for names, descs, spots, dates, poster in events%}
        <div>
        {{names}} hosted by {{poster}} on {{dates}} at {{spots}} <br>
        <small>{{descs}}</small>
            <br><br>
        </div>
    {% endfor %}
    </div>


</body>
</html>