<html>

<h2> Host an event: </h2><br>
<form action="event_submit" method="post">
    
    <label for="event_name">Enter event name:</label>
    <input type="text" name="trick_descs" id="event_name"><br>

    <label for="event_desc">Enter event description:</label>
    <input type="text" name="trick_descs" id="event_desc"><br>

    <label for="event_spot">Enter spot:</label>
    <input type="text" name="skater_names" id="event_spot"><br>
    
    <label for="event_date"> Enter date:</label>
    <input type="text" name="video_names" id="event_date"><br>

    <label for="event_time"> Enter time:</label>
    <input type="text" name="video_names" id="event_time"><br>

    <input type="submit" name="submit" value="Submit">
    
<h1> Upcoming Events!</h1>
    {% for , in %}
    <div>
     {{}}hosted by {{}} on {{}} at {}} <br>
        <small>{{}}</small>
    </div>
    
    
    
    
</form>
</html>