<html>

<h2> Host an event: </h2><br>

{% with messages = get_flashed_messages()  %}
{% if messages %}
{% for message in messages %}
<div>
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}


<form action="event" method="post">
    
    <label for="name">Enter event name:</label>
    <input type="text" name="name" id="name"><br>

    <label for="desc">Enter event description:</label>
    <input type="text" name="desc" id="desc"><br>

    <label for="spot">Enter spot:</label>
    <input type="text" name="spot" id="spot"><br>
    
    <label for="date and time"> Enter date (mm/dd/yy):</label>
    <input type="datetime-local" name="date" id="date"><br>

    <input type="submit" name="submit" value="Submit">
    
</form>

<h1> Events!</h1>
    {% for names, descs, spots, dates, poster in events%}
        <div>
        {{names}} hosted by {{poster}} on {{dates}} at {{spots}} <br>
        <small>{{descs}}</small>
        </div>
    {% endfor %}
    
    

</html>