<html>
<style>
  body{
    font-size: 15pt;
    font-family: arial;
      background-image: url('https://static.vecteezy.com/system/resources/previews/006/907/446/non_2x/old-cracked-concrete-grunge-concrete-cement-wall-with-crack-for-your-design-and-background-texture-stone-walkway-concrete-texture-free-photo.JPG');
  
  }
  
  p {
      text-align: right;
  }


  h1 {
      text-align: left;
  }

  
</style>
<div class = "hero">
<body>
<h1>SkateDB <form action="/search" method="GET">
    <input type = "text" name = "terms" placeholder="Search tricks...">
    <button type="enter">Search</button>
</form></h1>

<a href = "/submit">Post!<a/>
<p><a href = "/logout">log out<a/></p>

<h2>Recent Posts</h2>

{% for trick_descs, skater_names, spot_names, poster_names,  trick_id, video_names, video_ids, spot_ids, user_ids, skater_ids in posts %}

<a href = "/trick?id={{trick_id}}">{{trick_descs}} at {{spot_names}} by {{skater_names}}<a/>
<small>Posted by: {{poster_names}}</small>
<br>
{% endfor %}

</body>
</div>

</html>