<html>
<style>
  body{
    font-size: 15pt;
    font-family: arial;
      background-image: url('https://static.vecteezy.com/system/resources/previews/006/907/446/non_2x/old-cracked-concrete-grunge-concrete-cement-wall-with-crack-for-your-design-and-background-texture-stone-walkway-concrete-texture-free-photo.JPG');
  
  }
  
  p {
      text-align: right;
  }


  h1 {
      text-align: left;
  }

  
</style>
<div class = "hero">
<body>
<h1>SkateDB <form action="/search" method="GET">
    <input type = "text" name = "terms" placeholder="Search tricks...">
    <button type="enter">Search</button>
</form></h1>

<a href = "/submit">Post a trick!<a/>
<a href = "/submit_spot">Post a spot!<a/>
<p><a href = "/logout">log out<a/></p>

<h1>Posts</h1>
{% for trick_ids, trick_descs, trick_times, skaters, spots, posters, links in posts %}
<a href = "/trick?id={{trick_ids}}">{{trick_descs}} at {{spots}} by {{skaters}}<a/>
<small>Posted by: <a href = "/profile?id={{posters}}">{{posters}}</a></small>
<br>
{% endfor %}

</body>
</div>

</html>