<html>

<style>
  body{
    font-size: 15pt;
    font-family: arial;
  }
</style>

<body>
<!--Fix this when yau done w his shits-->
<form action="{{ url_for('search') }}" method="search">
    <label for="search">Search:</label>
    <input type="text" id="search" name="q">
    <button type="submit">Search</button>
</form>
<h1>
<form method = "POST" action = "/search">
    <input type="search" id="query" name="q" placeholder="Search skaters, spots etc">
    <button>Search</button>
</form>
</h1>
<h1>Recent Posts</h1>
{% for trick_descs, skater_names, spot_names, poster_names,trick_ids, video_names, video_ids, spot_ids, user_idsm, skater_ids in posts %}
<a href = "/trick?id={{trick_id}}">{{trick_name}} at {{spot_names}} by {{skater_names}}<a/>
<small>Posted by: {{poster_name}}</small>
{% endfor %}
</body>


</html>
