<html>
<style>
    body{
        font-size: 13pt;
        font-family: arial;
        background-image: url('https://static.vecteezy.com/system/resources/previews/006/907/446/non_2x/old-cracked-concrete-grunge-concrete-cement-wall-with-crack-for-your-design-and-background-texture-stone-walkway-concrete-texture-free-photo.JPG');

    }
    span {
        background-color: #aaa;
    }
    </style>
    <body>
      <h2><a href=feed style = "text-decoration: none; color: black;">SkateDB</h2></a>
<h1>{{spot_name}}</h1><br>
<div>{{spot_desc}}</div><br>
<div>Posted by {{spot_poster_username}}</div>

<a href = "https://www.google.com/maps/search/?api=1&query={{lat}},{{lon}}" target="_blank">Click here for location</a>

<div>Verifier mod ID: {{verifier}}</div>
{% with messages = get_flashed_messages()  %}
{% if messages %}
{% for message in messages %}
<div>
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}

<h2>Mentioned in:</h2>
{% for trick_ids, trick_descs, trick_times, skaters, spots, posters, links in posts %}
                   <span>
<a href = "/trick?id={{trick_ids}}">{{trick_descs}} at {{spots}} by {{skaters}}<a/>
    <small> Posted by: <a href = "/profile?id={{posters}}"> {{posters}}</a></small> <br>
        </span>
        <br>
    {% endfor %}
    </body>
</html>