<html> 

<style>
    body{
        text-align: center;
        font-size: 15pt;
        font-family: arial;
        background-image: url('https://static.vecteezy.com/system/resources/previews/006/907/446/non_2x/old-cracked-concrete-grunge-concrete-cement-wall-with-crack-for-your-design-and-background-texture-stone-walkway-concrete-texture-free-photo.JPG');

    }  
    </style>
<body>

{% for message in get_flashed_messages() %}
<h2>{{ message }}</h2>
{% endfor %}

<h1> Submit a trick!</h1>

<form action="trick_submit" method="post">
    <label for="trick_descs">Enter trick description:</label>
    <input type="text" name="trick_descs" id="trick_descs"><br>

    <label for="skater_names">Enter skater name  :</label>
    <input type="text" name="skater_names" id="skater_names"><br>

    <label for="spot_names">Enter spot name:</label>
    <input type="text" name="spot_names" id="spot_names"><br>
    
    <label for="video_names">Enter video link    :</label>
    <input type="text" name="video_names" id="video_names"><br>

    <input type="submit" name="submit" value="Submit">
</form>




</body>
</html>