<html> 

<style>
    body{
        text-align: center;
        font-size: 15pt;
        font-family: arial;
        background-image: url('https://static.vecteezy.com/system/resources/previews/006/907/446/non_2x/old-cracked-concrete-grunge-concrete-cement-wall-with-crack-for-your-design-and-background-texture-stone-walkway-concrete-texture-free-photo.JPG');

    }  
    </style>
<body>

<h1> Submit a trick!</h1>
{% with messages = get_flashed_messages()  %}
{% if messages %}
{% for message in messages %}
<div>
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}

<form action="submit" method="post">
    <label for="desc">Enter trick description:</label>
    <input type="text" name="desc" id="desc"><br>

    <label for="skater">Enter skater name  :</label>
    <input type="text" name="skater" id="skater"><br>

    <label for="spot">Enter spot name:</label>
    <input type="text" name="spot" id="spot"><br>
    
    <label for="link">Enter video link    :</label>
    <input type="text" name="link" id="link"><br>

    <label for="timestamp">Enter timestamp (0m00s)    :</label>
    <input type="text" name="timestamp" id="timestamp"><br>

    <input type="submit" name="submit" value="Submit">
</form>




</body>
</html>