<html> 

<style>
    body{
        text-align: center;
        font-size: 15pt;
        font-family: arial;
        background-image: url('https://static.vecteezy.com/system/resources/previews/006/907/446/non_2x/old-cracked-concrete-grunge-concrete-cement-wall-with-crack-for-your-design-and-background-texture-stone-walkway-concrete-texture-free-photo.JPG');

    }  
    </style>
<body>

<h1> Submit a spot!</h1>
{% with messages = get_flashed_messages()  %}
{% if messages %}
{% for message in messages %}
<div>
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}

<form action="submit_spot" method="post">
    <label for="spot">Enter spot name:</label>
    <input type="text" name="spot" id="spot"><br>

    <label for="desc">Enter spot description:</label>
    <input type="text" name="desc" id="desc"><br>

    <label for="lat">Enter latitude:</label>
    <input type="number" step="any" name="lat" id="lat"><br>
    
    <label for="lon">Enter longitude:</label>
    <input type="number" step="any" name="lon" id="lon"><br>

    <input type="submit" name="submit_spot" value="Submit">
</form>


</body>
</html>